@import "../node_modules/font-awesome/less/font-awesome";
@import "../node_modules/react-quill/dist/quill.snow.css";
@import "../node_modules/react-toastify/dist/ReactToastify.min.css";


@primary-color: #2c3e50;
@secondary-color: #f5f5f5;

html, body {
  height: 100%;
}

.container-fluid {
  height: 100vh;
}

.sidebar {
  background: @primary-color;
  color: @secondary-color;

  .sidebar-modal {
    color: black;
  }
}

.main-background {
  background: @secondary-color;
}

.main-font {
  color: @secondary-color;
}

.content {
  background: @secondary-color;
}

.content-header {
  background: white;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.mh-15 {
  max-height: 15%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.content-header-min-height {
  min-height: 50px;
}

.new-message-min-height {
  min-height: 80px;
}

.w-10 {
  width: 10%;
}

#message-input {
  border-radius: 0 !important;
  resize: none !important;
  border: none;
}

.background-white {
  background: white;
}

.user-thumb {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}


ul {
  list-style: none;
}

.profile-pic {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none;
}

.hoverable:hover {
  opacity: .7;
  cursor: pointer;
}

.messages {
  overflow-y: scroll;
}

#customFile {
  display: none;
}

.imgPreview {
  position: relative;

  width: 4em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: .5rem;

  &:hover {
    cursor: pointer;
    opacity: .9;
  }

  > i {
    position: absolute;
    right: .1em;
    top: .1em;
    color: white !important;
  }
}

.imgPreview .fa-times-circle {
  visibility: hidden;
}

.imgPreview:hover .fa-times-circle {
  visibility: visible;
}

.message-row {
  .action-buttons {
    visibility: hidden;
    color: @primary-color;

    .fa-trash-o {
      color: darkred;
    }
  }

  &:hover {
    .action-buttons {
      visibility: visible;
    }
  }

  > div {
    &:hover {
      opacity: .8;
      cursor: default;
    }
  }
}

.channel:first-child {
  .change-order-up {
    display: none;
  }
}

.channel:last-child {
  .change-order-down {
    display: none;
  }
}

.channel-link {
  color: @secondary-color;
  font-weight: 600;

  &:hover {
    color: @secondary-color;
    text-decoration: none;
  }
}

.channel:not(.active) {
  color: #ffffffb0;

  .channel-link {
    color: #ffffffb0;
  }
}

.channel.active {
  color: white;
}

.pointer {
  cursor: pointer;
}

.quill {
  padding-left: 1%;

  .ql-editor {
    height: 4rem;
  }

  .ql-toolbar.ql-snow {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .ql-picker-options {
    height: 5rem;
    overflow: scroll;
  }
}

.ov-hdn {
  overflow: hidden;
}

.top-50 {
  top: -50%
}

.mw-30 {
  max-width: 30%;
}

.img-radius {
  border-radius: .5rem;
}

.mention {
  color: dodgerblue;
  font-weight: bold;
  font-size: small;
  background: #33475a0f;
  border-radius: 2em;
  padding: .5em;
}

.ql-mention-list-container {
  background: white;
  color: #f6f6f6;
  font-weight: bold;
  width: 15rem;
  max-height: 15rem;
  overflow-y: scroll;

  .ql-mention-list {
    padding: 0;
  }

  li.ql-mention-list-item {
    cursor: pointer;
    padding: .2em;
    color: dodgerblue;
    font-weight: bold;
    font-size: large;

    &:hover {
      background-color: #33475a0f;
    }
  }
}
